body{
    font-family: Arial;
    background:#f4f6f9;
    padding:20px;
}

input, textarea, button{
    display:block;
    margin:5px;
    padding:10px;
}

button{
    background:#1e3a8a;
    color:white;
    border:none;
}

table{
    margin-top:10px;
    background:white;
}